/* PC */
@media screen and (min-width: 767px) {
}

/* タブレット */
@media screen and (max-width: 767px) and (min-width: 480px) {
}

/* スマホ */
@media screen and (max-width: 479px) {
    .wrapper {
        width: 200px;
    }
    .header {
        height: 200px;
    }
    .header-right {
        float: bottom;
        margin: 20px 70px 20px 70px;
        width: 60px;
        height: 160px;
    }
    .header-box {
        float: none;
        margin: 10px 10px 10px 10px;
    }
    .left {
        float: none;
        width: 200px;
        height: 100px;
    }
    .right {
        float: none;
        width: 200px;
        height: 200px;
    }
    .right-box {
        float: left;
        width: 140px;
        height: 160px;
        margin: 20px 30px 20px 30px ;
    }
    .right-boxes {
        margin-top: 5px;
    }
}
